In [5]:
#1

str1 = "JhonDipPeta"
str2 = "JaSonAy"

def get_middle_three(string):
    mid_index = len(string) // 2
    
    return string[mid_index - 1:mid_index + 2]

print(get_middle_three(str1))
print(get_middle_three(str2))

Dip
Son

In [10]:
#2

s1 = "Ault"
s2 = "Kelly"

mid_index = len(s1) // 2
string = s1[:mid_index] + s2 + s1[mid_index:]

print(string)

AuKellylt

In [22]:
#3

s1 = "America"
s2 = "Japan"

def make_string(s1, s2):
    return s1[0] + s2[0] + s1[len(s1) // 2] + s2[len(s2) // 2] + s1[len(s1) - 1] + s2[len(s2) - 1]

print(make_string(s1, s2))

AJrpan

In [30]:
#4

str1 = "PyNaTive"
resString = []

for char in str1:
    if char.islower():
        resString.insert(0, char)
    else:
        resString.append(char)
        
print("".join(resString))

eviayPNT

In [37]:
#5

str1 = "P@#yn26at^&i5ve"
lowerChars = 0
upperChars = 0
digits = 0
symbols = 0

for char in str1:
    if char.islower():
        lowerChars += 1
    elif char.isupper():
        upperChars += 1
    elif char.isdigit():
        digits += 1
    else:
        symbols += 1

print("Lower case chars:", lowerChars)
print("Upper case chars:", upperChars)
print("Digits:", digits)
print("Symbols:", symbols)

Lower case chars: 7
Upper case chars: 1
Digits: 3
Symbols: 4

In [46]:
#6

s1 = "Abc"
s2 = "Xyz"
s2 = s2[::-1] # reverse s2
s3 = ""
lengthS1 = len(s1)
lengthS2 = len(s2)
length = max(lengthS1, lengthS2)

for i in range(length):
    if i < lengthS1:
        s3 += s1[i]
    if i < lengthS2:
        s3 += s2[i]
        
print(s3)

AzbycX

In [52]:
#7

s1 = "Yn"
s2 = "PYnative"
boolean = True

for char in s1:
    if char not in s2:
        boolean = False
        
print(boolean)

True

In [55]:
#8

str1 = "Welcome to USA. usa awesome, isn't it?"
count = str1.lower().count("usa")

print("USA count:", count)

USA count: 2

In [59]:
#9

str1 = "English = 78 Science = 83 Math = 68 History = 65"
sum = 0
count = 0

for char in str1:
    if char.isdigit():
        sum += int(char)
        count += 1

print("Sum:", sum)
print("Avg:", sum / count)

Sum: 51
Avg: 6.375

In [60]:
#10

str1 = "Apple"
charDict = dict()

for char in str1:
    charDict[char] = str1.count(char)
    
print(charDict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [62]:
#11

str1 = "PYnative"

print(str1[::-1])

evitanYP

In [63]:
#12

str1 = "Emma is a data scientist who knows Python. Emma works at google."

print(str1.rfind("Emma"))

43

In [66]:
#13

str1 = "Emma-is-a-data-scientist"

splitString = str1.split("-")

for string in splitString:
    print(string)

Emma
is
a
data
scientist

In [74]:
#14

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]        
        
print(list(filter(None, str_list)))

['Emma', 'Jon', 'Kelly', 'Eric']

In [77]:
#15

str1 = "/*Jon is @developer & musician"

print(str1.translate(str.maketrans('', '', string)))

AttributeError: 'str' object has no attribute 'punctuation'

In [78]:
#16

str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 25 years and 10 months old
2510

In [ ]:
#17