In [1]:
#1

count = 0

while count < 11:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9
10

In [12]:
#2

for i in range(1, 7):
    for j in range(1, i):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
#3

number = int(input("Enter a number: "))
sum = 0

for i in range(number + 1):
    sum += i
    
print(sum)

Enter a number: 10
55

In [18]:
#4

number = 2

for i in range(1, 11):
    print(number * i)

2
4
6
8
10
12
14
16
18
20

In [21]:
#5

list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
i = 0

while list1[i] < 151:
    if list1[i] % 5 == 0:
        print(list1[i])
    i += 1

15
55
75
150

In [30]:
#6

number = 75869
count = 0

while number > 0:
    number //= 10
    count += 1
    
print(count)

5

In [34]:
#7

for i in range(5, 0, -1):
    for j in range(i):
        print(i - j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [40]:
#8

list1 = [10, 20, 30, 40, 50]

for i in range(len(list1) - 1, -1, -1):
    print(list1[i])

50
40
30
20
10

In [42]:
#9

for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [44]:
#10

for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [52]:
#11

start = 25
end = 50

print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [64]:
#12

fib = 1
prev_fib = 0

for i in range(10):
    print(prev_fib)
    temp = fib + prev_fib
    prev_fib = fib
    fib = temp

0
1
1
2
3
5
8
13
21
34

In [76]:
#13

num = 5

def factorial(num):
    factorial = num
    
    while num > 1:
        factorial *= num - 1
        num -= 1
    
    return factorial

print(factorial(num))

120

In [77]:
#14

num = 76542
reverse_number = 0

print("Given Number ", num)

while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
    
print("Revered Number ", reverse_number)

Given Number  76542
Revered Number  24567

In [84]:
#15

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(my_list)):
    if i % 2 != 0:
        print(my_list[i])

20
40
60
80
100

In [86]:
#16

input_number = 6

for i in range(1, input_number + 1):
    print("Current Number is:", i, "and the cube is", i ** 3)

Current Number is: 1 and the cube is 1
Current Number is: 2 and the cube is 8
Current Number is: 3 and the cube is 27
Current Number is: 4 and the cube is 64
Current Number is: 5 and the cube is 125
Current Number is: 6 and the cube is 216

In [88]:
#17

number_of_terms = 5
sum = 0
num = 2

for i in range(number_of_terms):
    sum += num
    num = (num * 10) + 2
    
print(sum)

24690

In [97]:
#18

i = 1

while i < 5:
    for j in range(i):
        print("*", end = " ")
    print()
    i += 1
    
while i > 0:
    for j in range(i):
        print("*", end = " ")
    print()
    i -= 1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*