In [6]:
import pandas as pd
import numpy as np

In [3]:
x = pd.DataFrame({'x': [2,1]})
x

   x
0  2
1  1

In [4]:
x.T

   0  1
x  2  1

In [5]:
x.T.dot(x)

   x
x  5

In [8]:
np.linalg.norm(x.T)

2.23606797749979